body, kontakt{
    /*margin:10px;*/
    /*padding: 15px;*/
}

label, kontakt{
    /*padding: 10px;*/
    /*margin: 10px;*/
}

#navbar{
    background-color: violet;
    /*float:*/ 
    
}



.container-fluid{
    background-color: purple;
}

.navbar-default .navbar-nav>li>a {
color: #FFF;
}


