body{
    background-color: #E2D3E5;
    overflow: scroll;
}

/*body, kontakt{
   
}*/

label, kontakt{
}

#navbar{
    /*    background-color: #5A396C;*/
    /*float:*/ 


}

.navbar {

    margin-bottom: 0px;

}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 0px solid transparent; 
}

.container{
    /*    padding-left: 15px;
        padding-right: 15px;*/
    background-color: white;
    border-radius:5px;
    
}

.container-fluid{
    background-color: #5A396C;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;

/*        -ms-transform: rotate(30deg);  IE 9 
        -webkit-transform: rotate(30deg);  Chrome, Safari, Opera 
        transform: rotate(90deg);
        
        height: 100px;
        left: 350px;*/

}

.nav {
    padding-left: 0; 
    float: right;
}


.navbar-default .navbar-nav>li>a:hover {
    background-color: white;
    color: black;
}

ul.tjanst  li {
    list-style-type: none; 
    margin: 10px;

}

.btn-primary, btn-manad{
    color: #fff;
    background-color: #5A396C;
    
/*    border-color: black;*/
}

.btn-primary:hover{
    background-color: #E2D3E5;
    color: #5A396C;
}

btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #E2D3E5;
    color: #5A396C;
}




.boxar{
/*    border: solid thin #000;*/
    margin-top: 0px;
    /*margin: 1px;*/
    /*width: 380px;*/
    /*margin: 0 auto;*/
    /*position: absolute;*/
}

.btn-carousel{
    position: absolute;
    left: 750px; 
    top: 400px;
}

.kontakt{
/*    padding-left: 20px; */
}

.row.box{
 
padding: 20px;



}

.boxar.row.box1 #manniska, h4{
    margin-top: 90px;
    float: right;
    font-family: 'Lobster', cursive;
    margin-right: 20px;
    color: black;
        
}

.modal-title #myModalLabel, h4{
    /*color: red;*/
    font-family: 'Lobster', cursive;
    float: left;
    font-size: 20px;
    /*padding-bottom: 20px;*/
/*    margin-bottom: 10px;*/
}

.list-group-item.active .list-group-item-heading, .list-group-item.active:hover .list-group-item-heading, .list-group-item.active:focus .list-group-item-heading, .list-group-item.active .list-group-item-heading>small, .list-group-item.active:hover .list-group-item-heading>small, .list-group-item.active:focus .list-group-item-heading>small, .list-group-item.active .list-group-item-heading>.small, .list-group-item.active:hover .list-group-item-heading>.small, .list-group-item.active:focus .list-group-item-heading>.small{
   float: left;
   font-family: 'Lobster', cursive;
   font-size: 30px;
 
   
}

#btnOmmig{
    color: #5A396C;
    font-family: 'Lobster', cursive;
    margin:10px;
    
}


.list-group-item-text {
margin-bottom: 0;
line-height: 1.3;
}

.list-group-item-text, p {
 padding: 10px;
 
}


#omMig, h1{
   /*color: red;*/ 
   font-family: 'Lobster', cursive;
   padding: 20px;
   margin: 0 auto;
   margin-left: 25.2%;
   
}

#pOmMig, p {
    margin-left: 27%;
    padding: 0px;
    margin-right: 5px;
    font-family: arial;
    
}


.adress{
    margin-left: 2%;
    padding: 0px;
    margin-bottom: 35px;
    margin-right: 5px;
    font-family: arial;
    font-weight: bold;
    
     
}

.adressKont{
    margin-left: 2%;
    font-weight: bold;
}

#bokaTid, h1{
    /*color: red;*/ 
   font-family: 'Lobster', cursive;
   padding-bottom: 15px;
   padding-left:7px; 
   padding-top: 25px;
   margin: 0 auto;
   
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
    padding: 35px;
    
}



/*.list-group{
    background-color: purple;
}*/

/*behandlingar*/

.text{
    margin-top: 70px;
    margin-left:20px;
}
.list-group-item active {
    background-color: #5A396C;
}

.btn-lg, .btn-group-lg>.btn {
    width: 300px;
}

/*.row {
 margin-right: -15px; 
 margin-left: -15px; 
}*/

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #5A396C;
    border-color: #E2D3E5;
    margin-top: 20px;
}


td.fc-day:hover {
    box-shadow: 0px 0px 10px 10px #E2D3E5;

    -webkit-box-shadow: 0 0 1px 3px #E2D3E5 inset;
    -moz-box-shadow: 0 0 1px 3px #E2D3E5 inset;
    box-shadow: 0 0 1px 3px #E2D3E5 inset;

}

body {
    /*margin: 40px 10px;*/
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

/*.modal-body{
    overflow: scroll;
}*/

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

.container {
    padding-right: 0px; 
    padding-left: 0px; 
    margin-right: auto;
    margin-left: auto;
}

.row {
    /* margin-right: -15px; */
    /* margin-left: -15px; */
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px; 
    padding-left: 0px; 
}

header{
    /*height: 100px;*/
    background-color: #E2D3E5;
    
}

.row.fot {
    height: 50px;
    background-color: #5A396C;
    margin-top: 0px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    
}
.behandlingar{
   background-color: white;
   float: left;
    /*width: 1000px;*/
}
.h1Beha{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    margin-left: 1.5%;
    margin-top: 1%;
    padding-bottom: 0.7%;
    width: 60%;
    float: left;
   
}

.h2Beha{
    font-family: 'Lobster', cursive;
    font-size: 20px;
    margin-left: 1.5%;
    width: 60%;
    float: left;
    
}

.h3Beha {
   
    margin-left: 1.5%;
    margin-bottom: 2%;
    width: 60%;
    float: left;
    
}

#bild{
    float:right;
    
}


#namnGivning{
    color: white;
    padding-top: 15px;
    font-family: arial; 
    
    
}

p, #namnOss {
    color:white;
    margin-left: 2%;
    
}

p, #mailaFraga{
    color: black;
}


/*.col-xs-6 col-md-3.text-nav{
    padding-top: 10px;
}*/

.thumbnail{
    margin-top: 20px;
    margin-left: 20px;
}

.boxarSpec{
padding: 30px;
text-align: center;

}

#admin{
    color:white;
   
    float: right;
    margin-right: 15px;
    
}

#loga{
    margin-top: 4px;
    
}