body, kontakt{
    /*margin:10px;*/
    /*padding: 15px;*/
}

label, kontakt{
    /*padding: 10px;*/
    /*margin: 10px;*/
}

#navbar{
    background-color: violet;
    /*float:*/ 
    
    
}

.container{
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid{
    background-color: purple;
    border-radius: 5px;
}

.navbar-default .navbar-nav>li>a {
color: #FFF;

/*    -ms-transform: rotate(30deg);  IE 9 
    -webkit-transform: rotate(30deg);  Chrome, Safari, Opera 
    transform: rotate(90deg);
    
    height: 100px;
    left: 350px;*/

}

.nav {
 padding-left: 0; 
 float: right;
}


.navbar-default .navbar-nav>li>a:hover {
background-color: white;
color: black;
}




.boxar{
    border: solid thin #000;
    margin-top: 20px;
    /*margin: 1px;*/
    /*width: 380px;*/
    /*margin: 0 auto;*/
    /*position: absolute;*/
}

.btn-carousel{
    position: absolute;
    left: 750px; 
    top: 400px;
}

/*.kontakt{
    width: 500px;
    margin: 50px;
}*/

.row.box{
/*    position: absolute;
    left: 1200px;
    top: 150px;
    width: 300px;*/



}
/*.list-group{
    background-color: purple;
}*/

/*behandlingar*/

.text{
    margin-top: 70px;
}
.list-group-item active {
    background-color: purple;
}

.row.fot{
    height: 50px;
    background-color: purple;
    /*width: 100%;*/
    /*margin: 20px;*/
    margin-top: 20px;
    border-radius: 5px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
z-index: 2;
color: #fff;
background-color: purple;
border-color: black;
}