
#bokningManadRubrik{
    /*margin-left: 24%;*/
    margin-right: 83%;
    font-family: 'Lobster', cursive;
    font-size: 50px; 
    margin-top: 3%;
}

.bookableDay {
    color: green;
    width: 90px;
    height: 70px;
    font-weight: bold;
    cursor:pointer;
    font-size: 35px;    
    /*outline: black dashed;*/
    padding: 8px 10px;
    font-family: 'Lobster';
}
.bookableTime {
    cursor:pointer;
    /*font-family: 'Lobster';*/
    font-size: 25px; 
}

.disabled {
    color: gray;
    width: 90px;
    height: 60px;
    /*outline: black dashed;*/
    padding: 8px 10px;
    font-size: 35px;  
}
.regular {
    width: 90px;
    height: 60px;
    /*outline: black dashed;*/
    padding: 8px 10px;
    font-size: 35px;
    font-family: 'Lobster';
}
.weekday {
    text-align: center;
    width: 90px;
    height: 20px;
    font-size: 22px;
    font-family: 'Lobster', cursive;
}
#dag { 
    display:none;
    
}

.valj{
    margin-right: 89%;
    font-family: 'Lobster', cursive;
}


#bokningsform {
    display: none;

}
span {
    font-weight: bold;
}
/*omstylning till kalender*/
ul {
    list-style-type:none;
    display: flex;
}


.kalender {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 20%;
}
.forManad {
    margin-left: -40%;
    margin-right: 20%;
    padding: 1px;
    width: 200px;

}
.nastaManad {
    /*margin-left: 25%;*/
    /*    margin-right: -20%;*/
    padding: 1px;
    width: 200px;
    margin: 0;

}
.boka {
     padding: 1px;
     width: 150px;
     margin-top: 2%;
}

.kundInfo{
    margin-right: 3%;
}

#kundTelefon{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}